<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">
    <p id="notice"><%= notice %>
    <%= form_for(@contact, url: confirm_contacts_path) do |f| %>
      <%= f.error_messages! %>
      <% end %>
      <%= f.label :name %>
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :email %>
      <%= f.text_field :email, class: 'form-control' %>
      <%= f.label :content %>
      <%= f.text_field :content, class: 'form-control' %>
      <%= f.submit '送信する', class: 'btn btn-primary btn-block'%>
    <% end %>
  </div>
</div>
